@model IEnumerable<IdentityRole>

@{ 
    ViewBag.Title = "ВСЕ РОЛИ";
}

<h1>
    Все роли
</h1>
@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Admin">Добавить роль</a>
    foreach (var role in Model)
    { 
    <div>
        <div class="card mb-3">
            Role Id : @role.Id
        </div>
        <div class="card-body">
            <h5 class="card-title">@role.Name</h5>
        </div> 
        <div class="card-footer">
            <form asp-action="DeleteRole" asp-controller="Admin" asp-route-id="@role.Id" method="post">
                <a class="btn btn-primary" asp-action="EditRoles" , asp-controller="Admin" asp-route-id="@role.Id">Изменить</a>
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>
    </div>
    }
}
else {
    <div class="card">
        <div class="card-header">
            Пока нет роллей
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Используйте кнопку ниже и создайте первую роль
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-action="CreateRole" asp-controller="Admin">
                Создать роль
            </a>
        </div>
    </div>
}