@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<InternetMarket.Models.DbModels.ProductType>

@{
    ViewData["Title"] = "Категории продуктов";
}

<h1>Категории продуктов</h1>

<p>
    <a asp-action="CreateProductType">Создать новую категорию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название категории
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Изменить", "EditProductType", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "RemoveProductType", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
