
@model AddProductViewModel

@{

    ViewBag.Title = "Create produst";
}

<div class="container bg-info">
    <div class="row text-left">
        <div class="col text-black-50">
            Разработчик :
        </div>
        <div class="col text-black-50">
            Попов Данил Андреевич
        </div>
    </div>
    <div class="row text-left">
        <div class="col text-black-50">
            учебная группа :
        </div>
        <div class="col text-black-50">
            ПР-41
        </div>
    </div>
</div>
