
@model AddProductViewModel

@{

    ViewBag.Title = "Create produst";
}

<div class="container">
    <div class="row text-left">
        <div class="col text-black-50">
            Разработчик :
        </div>
        <div class="col text-black-50">
            
        </div>
    </div>
    <div class="row text-left">
        <div class="col text-black-50">
            учебная группа :
        </div>
        <div class="col text-black-50">
           
        </div>
    </div>
</div>
